


@font-face {
    font-family: "PT_Sans-Web-Bold";
    src: url('../fonts/PT_Sans/PT_Sans-Web-Bold.eot');
    src: local('☺'), url('../fonts/PT_Sans/PT_Sans-Web-Bold.woff') 
    format('woff'), url('../fonts/PT_Sans/PT_Sans-Web-Bold.ttf')
    format('truetype'), url('../fonts/PT_Sans/PT_Sans-Web-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PT_Sans-Web-BoldItalic";
    src: url('../fonts/PT_Sans/PT_Sans-Web-BoldItalic.eot');
    src: local('☺'), url('../fonts/PT_Sans-Web-BoldItalic.woff') 
    format('woff'), url('../fonts/PT_Sans/PT_Sans-Web-BoldItalic.ttf')
    format('truetype'), url('../fonts/PT_Sans/PT_Sans-Web-BoldItalic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PT_Sans-Web-Italic";
    src: url('../fonts/PT_Sans/PT_Sans-Web-Italic.eot');
    src: local('☺'), url('../fonts/PT_Sans/PT_Sans-Web-Italic.woff') 
    format('woff'), url('../fonts/PT_Sans/PT_Sans-Web-Italic.ttf')
    format('truetype'), url('../fonts/PT_Sans/PT_Sans-Web-Italic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PT_Sans-Web-Regular";
    src: url('../fonts/PT_Sans/PT_Sans-Web-Italic.eot');
    src: local('☺'), url('../fonts/PT_Sans/PT_Sans-Web-Regular.woff') 
    format('woff'), url('../fonts/PT_Sans/PT_Sans-Web-Regular.ttf')
    format('truetype'), url('../fonts/PT_Sans/PT_Sans-Web-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BankGothic_Medium";
    src: url('../fonts/bg/BankGothic_Medium.eot');
    src: local('☺'), url('../fonts/bg/BankGothic_Medium.woff') 
    format('woff'), url('../fonts/bg/BankGothic_Medium.ttf')
    format('truetype'), url('../fonts/bg/BankGothic_Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BankGothicCMdBT-Medium";
    src: url('../fonts/bg/BankGothicCMdBT-Medium.eot');
    src: local('☺'), url('../fonts/bg/BankGothicCMdBT-Medium.woff') 
    format('woff'), url('../fonts/bg/BankGothicCMdBT-Medium.ttf')
    format('truetype'), url('../fonts/bg/BankGothicCMdBT-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}